.row
  .header
    .col-sm-1
    .col-sm-9.text-xs-center
      %h2= 'Torrent downloader based on Optimized Transmission client'
.row
  .header
    .col-sm-1
    &nbsp;
.row
  .header
    .col-sm-1
    &nbsp;
.row
  .header
    .col-sm-1
    .col-sm-9.text-xs-center
      %h4= 'Register an account for free'
.row
  .header
    .col-sm-1
    .col-sm-9.text-xs-center
      %h5= 'Get 3 days free trials'
.row
  .header
    .col-sm-1
    &nbsp;
.row
  .header
    .col-sm-1
    &nbsp;
.row
  .header
    .col-sm-1
    .col-sm-9.text-xs-center
      %h4= 'Upgrade to full account'
