.row
  .info
    .col-sm-1.status

    -# Email Title
    .col-sm-3.text-xs-left
      %h4= 'Email'

    -# Email info
    .col-sm-8
      %h4= user.email_hidden

.row
  .info
    .col-sm-1.status

    -# Email Title
    .col-sm-3.text-xs-left
      %h4= 'Password'

    .col-sm-8
      %h4
        = link_to I18n.t('authentications.update_password'), new_edit_password_user_path
