@import 'bootstrap';
@import 'font-awesome';

// variables
$success: $brand-success;
$warning: $brand-warning;
$danger:  $brand-danger;
$black: #373a3c;

.btn-outline {
  @include button-outline-variant($black);
}

// application specific styles
@import './authentications.scss';
@import './users/_quota.scss';
@import './users/_info.scss';
@import './users/_subscriptions.scss';
@import './torrents/_add.scss';
@import './torrents/_index.scss';
@import './flashes.scss';

input, button, div, small, a {
  transition: all 0.2s ease;
}

h1, h2, h3 {
  letter-spacing: -2px;
}

.danger {
  color: $danger;
}

.navbar {
  a.controls {
    text-decoration: none !important;

    i.fa {
      width: 50px;
    }
  }
}
