@import 'bootstrap';
/* @import 'parsley'; */

/* application specific styles */
@import './authentications.scss';
@import './dashboard.scss';
@import './flashes.scss';

input, button, div, small, a {
  transition: all 0.2s ease;
}

h1, h2, h3 {
  letter-spacing: -2px;
}

.danger {
  color: $brand-danger;
}
