.form-authentication {
  max-width: 330px;
  padding: 15px;

  input, label, button {
    margin-bottom: 10px;
  }

  input[type=submit] {
    display: block;
    width: 100%;
  }

  a {
    display: block;
  }

  .validated-input {
    width: 200%;

    input {
      display: inline-block;
      width: 50%;
    }

    .danger {
      display: inline-block;
      margin-left: 10px;
    }
  }

  .legal {
    a {
      display: inline-block;
    }
  }
}

