.quota {
  .row {
    display: flex;
  }

  h1 {
    font-weight: 100;
  }

  // Status Bar
  .status {
    border-left-width: 2px;
    border-left-style: solid;

    &.green{
      border-color: $success;
    }

    &.orange{
      border-color: $warning;
    }

    &.red{
      border-color: $danger;
    }
  }


  // Status Text
  .title {
    padding-top: 18px;
  }

  .usage {
    font-size: 60px;
    letter-spacing: -10px;
  }

  .plan {
    font-size: 30px;

    .size {
      margin-left: 10px;
      letter-spacing: -1px;
    }
    .unit {
      margin-left: -3px;
      font-weight: 900;
    }
  }
}
