#flash {
  height: 56px;
  border-width: 1px;
  border-radius: 0.25rem;

  .flash-messages-success {
    border: 1px solid $success;
    color: $success;
    height: 100%;
  }

  .flash-messages-notice {
    border: 1px solid $warning;
    color: $warning;
    height: 100%;

  }

  .flash-messages-error {
    border: 1px solid $danger;
    color: $danger;
    height: 100%;
  }
}

