.row
  .torrent-header
    .col-sm-1.status
    .col-sm-3.text-xs-left
      %h1.title= 'Torrents'

.row
  .torrents
    - torrents.each do |torrent|
      = render partial: 'torrents/torrent', locals: { torrent: torrent }
